@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import custom Tailwind components */
@import '../styles/tailwind.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-feature-settings: "salt", "ss01", "ss02";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Additional global styling */
a {
  @apply text-cicada-black hover:text-cicada-red transition duration-200;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-medium;
}